{% extends 'core/base.html' %}

{% block content %}
{% load static %}

<div class="row">
  
</div>

<div class="row">
    <div class="col">
      <form method="GET" action="{% url 'home' %}">
        <div class="col-md-3 col">
          <select class="form-select" name="segmento" onchange="this.form.submit()">
            <option value="Todos" 
                    {% if segmento_seleccionado == "Todos" %}
                    selected
                    {% endif %}>
                  Segmentos
            </option>
            {% for segmento in segmentos %}
              <option value="{{ segmento.nombre }}" 
                      {% if segmento_seleccionado == segmento.nombre %} 
                      selected 
                      {% endif %}>
                    {{ segmento.nombre }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3 col">
          <select class="form-select" name="tipo" onchange="this.form.submit()">
            <option value="Todos" 
                      {% if tipo_seleccionado == "Todos" %}
                      selected
                      {% endif %}>
                    Tipo
              </option>
              {% for tipo in tipos %}
                <option value="{{ tipo.0 }}" 
                        {% if tipo_seleccionado == tipo.0 %} 
                        selected 
                        {% endif %}>
                      {{ tipo.1 }}
                </option>
              {% endfor %} 
          </select>
        </div>
      </form>
    </div>

</div>

{% if user.is_authenticated and not user.is_superuser %}
<div class="row">
  {% include 'core/vistaSegmento.html' %}
</div>
{% endif %}

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Hito</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Término</th>
        <th scope="col">Tipo</th>
        <th scope="col">Segmento</th>
      </tr>
    </thead>
    <tbody>
      {% for evento in eventos %}
        <tr>
          <td>{{ evento.titulo }}</td>
          <td>{{ evento.fechaInicio }}</td>
          <td>{{ evento.fechaTermino}}</td>
          <td>{{ evento.tipo }}</td>
          <td>{{ evento.segmento }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="row"></div>
<div class="row"></div>

{% endblock %}