{% extends 'core/base.html' %}

{% block content %}
{% load static %}


{% include 'core/calendario.html' %}



{% if segmento_usuario != None %}
  {% include 'core/vistaSegmento.html' %}
{% endif %}

<div class="row my-5">
    <form method="GET" action="{% url 'home' %}" class="d-md-flex justify-content-around">
      <div class="col-md-3 col">
        <select class="form-select" name="segmento" onchange="this.form.submit()">
          <option value="Todos" 
                  {% if segmento_seleccionado == "Todos" %}
                  selected
                  {% endif %}>
                Segmentos
          </option>
          {% for segmento in segmentos %}
            <option value="{{ segmento.nombre }}" 
                    {% if segmento_seleccionado == segmento.nombre %} 
                    selected 
                    {% endif %}>
                  {{ segmento.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-3 col">
        <select class="form-select" name="tipo" onchange="this.form.submit()">
          <option value="Todos" 
                    {% if tipo_seleccionado == "Todos" %}
                    selected
                    {% endif %}>
                  Tipo
            </option>
            {% for tipo in tipos %}
              <option value="{{ tipo.0 }}" 
                      {% if tipo_seleccionado == tipo.0 %} 
                      selected 
                      {% endif %}>
                    {{ tipo.1 }}
              </option>
            {% endfor %} 
        </select>
      </div>
    </form>
</div>

<div class="row my-5 px-5" id="tabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Hito</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Término</th>
        <th scope="col">Tipo</th>
        <th scope="col">Segmento</th>
      </tr>
    </thead>
    <tbody>
      {% for evento in eventos %}
        <tr>
          {% if evento.fechaInicio|date:"Y" == fecha_usuario|date:"Y" %}
            <td>{{ evento.titulo }}</td>
            <td>{{ evento.fechaInicio }}</td>
            <td>{{ evento.fechaTermino}}</td>
            <td>{{ evento.get_tipo_display }}</td>
            <td>
              {% for segmento in evento.segmento.all %}
                {{ segmento.nombre }}
                {% if not forloop.last %}-{% endif %}
              {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}